{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}
{% block content %}
<h1>Главная страница</h1>
<p>Добро пожаловать на наш сайт, здесь вы сможете зарегистрировать вашего питомца или найти хозяина чужого.</p><wbr>
<p>Для того чтобы зарегистрировать питомца зайдите во вкладку "создать" и заполните форму. После нажатия кнопки сохранить на экране появится индивидуальный номер вашего домашнего животного. Этот номер вы можете поместить на ошейник или сделать татуировку на вашем питомце.</p><wbr>
<p>Если вы нашли животное с индивидуальным номером и ссылкой на этот сайт, перейдите во вкладку "все записи" и найдите нужный вам номер.</p><wbr>
{% endblock %}

